@media all and (min-width: 100px) and (max-width: 767px) {
  div {
    font-size: 1rem;
    // transition : background-color  2s, color 2s;
  }
}

// html{
//   transition : background-color  2s, color 2s;
// }

@media screen and (min-width: 768px) {
  div {
  font-size: 1.5rem;
  }
} 

#bottomPadding{
  padding-bottom: 10px !important;
}
#keyLabel{
  font-weight: 500;
}

a { color: inherit;
  transition : background-color  1s;
} 


.float{
	position:fixed;
	width:40px;
	height:40px;
	top:-20px;
	right:-20px;
	// background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: -2px 2px 3px #999;
}
.float-right{
	position:fixed;
	width:40px;
	height:40px;
	top:-20px;
	left:-20px;
	// background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}